.dashboard {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
  text-align: center;
  margin-top: 30px;
}

.dashboard h2 {
  font-size: 2.5rem;
  margin-bottom: 15px;
  color: #222;
}

.dashboard p {
  font-size: 1.2rem;
  color: #255F38;
  margin-bottom: 30px;
}

.dashboard-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 25px;
  padding: 20px;
}

.card {
  background: white;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.counter-box{
  font-size: xx-large;
  font-weight: bolder;
  color: #18230F;
}

h3, p, .dashboard-time, .dashboard-welcome {
  display: flex;
  align-items: center;
  gap: 8px; /* Adds spacing between icon and text */
  justify-content: center;
}

.card h3 {
  font-size: 1.7rem;
  margin-bottom: 12px;
  color: #255F38;
  position: relative;
  display: inline-block;
}
/* Container to keep the icon at the top-right corner */
.notification-icon {
  position: fixed;
  top: 15px;
  right: 20px;
  font-size: 2rem;
  color: black;
  cursor: pointer;
  z-index: 1000; /* Ensures it stays above all elements */
  margin: 30px;
}

/* Badge styling */
.notification-badge {
  background: rgb(189, 5, 5);
  color: white;
  font-size: 0.75rem;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -5px;
  right: -5px;
  font-weight: bold;
  border: 2px solid white; /* Adds a clean look */
}

@media (max-width: 768px) {
  .notification-badge{
    right: -7px;
  }
  .notification-icon{
    right: -15px;
  }
}

.card p {
  font-size: 1rem;
  color: #444;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
  background: #f4f4f4;
}
