.register-helper {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  background: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.register-helper h2 {
  margin-bottom: 20px;
}

.register-helper label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
}

.labels{
  text-align: start;
  padding-left: 10px;
}
.register-helper input,
.register-helper select {
  width: 92%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.register-helper button {
  margin-top: 20px;
  padding: 10px;
  background: #27391C;
    box-shadow: 10px 10px 5px #18230F inset;
  color: white;
  border: none;
  cursor: pointer;
  width: 100%;
  border-radius: 4px;
}

.register-helper button:hover {
  background-color: #1e2c15;
    box-shadow: 10px 10px 5px #11190b inset;
}

/* Toggle between Register and Login */
.toggle-text {
  margin-top: 15px;
  font-size: 14px;
}

.toggle-text span {
  color: #27391C;
  cursor: pointer;
  text-decoration: underline;
}

.toggle-text span:hover {
  color: darkgreen;
}

.password-wrapper {
  position: relative;
  width: 100%;
}

.password-input {
  width: 100%;
  padding-right: 15px; /* Space for the eye icon */
  height: 15px;
}

.eye-icon {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #27391C;
}
